.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #000000;
  color: white;
  position: relative;
    bottom: -15px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    opacity: 0.75;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 120%;
}
