
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.5;
  
}
ul a {
  font-size: 120%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
}
ul a.proje{
  
  margin-left: 25%;
}
ul a.tanıtım{
  
  margin-left: 25%;

}
ul a:hover {
  background-color: gray;
  color: white;
}



